<h1>Dữ liệu gửi từ Controller gửi về là: @ViewBag.infoEmployee</h1>

<form asp-action="Index">
    <label>Nhập PersonID</label>
    <input type="text"  name="PersonId">
    <label>Nhập họ tên:</label>
    <input type="text" name="FullName">
    <label>Nhập địa chỉ:</label>
    <input type="text"  name="Address">
    <label>Nhập EmployeeId:</label>
    <input type="text"  name="EmployeeId">
    <label>Nhập tuổi:</label>
    <input type="text"  name="Age">
    <input type="submit" value="Gửi dữ liệu">
</form>