<form asp-action="Index">
    <label>Nhap thong tin</label>
    <input type="Text" name="PersonId" placeholder="Enter PersonId"/>
    <input type="Text" name="FullName" placeholder="Enter Fullname"/>
    <input type="Text" name="Address" placeholder="Enter Address"/>
    <input type="submit" value="Save"/>
</form>
<h1>Dữ liệu từ Controller gửi về là : @ViewBag.infoPerson</h1>