<h1> @ViewBag.HeThongPhanPhoi</h1>
<form asp-action="Index">
    <label>Nhập Mã HTPP</label>
    <input type="text"  name="MaHTPP">
    <label>Nhập Tên HTPP:</label>
    <input type="text" name="TenHTPP">
    <input type="submit" value="Gửi dữ liệu">
</form>