<h1> @ViewBag.infoDaiLy</h1>
<form asp-action="Index">
    <label>Nhập MaDaiLy</label>
    <input type="text"  name="MaDaiLy">
    <label>Nhập tên đại lý</label>
    <input type="text"  name="TenDaiLy">
    <label>Nhập địa chỉ</label>
    <input type="text"  name="DiaChi">
    <label>Nhập người đại diện</label>
    <input type="text"  name="NguoiDaiDien">
    <label>Nhập điện thoại</label>
    <input type="text"  name="DienThoai">
    <label>Nhập Mã HTPP</label>
    <input type="text"  name="MaHTPP">
    <input type="submit" value="Gửi dữ liệu">
</form>